<div id='container'>
<!-- Your code here -->
<form name="shortenForm" >
  <input name="shortenFormInput" placeholder='Put Link Here' required ng-model="link.url" type="url" novalidate/>
  <button ng-click="addLink()" ng-disabled='shortenForm.$invalid'>Submit</button>
</form>
<div ng-show="shortenForm.shortenFormInput.$error.required && shortenForm.$dirty" class="message">
  <h2>URL required</h2>
</div>
<div ng-show='shortenForm.shortenFormInput.$error.url && shortenForm.$dirty' class='message'>
  <h2>URL is not valid</h2>
</div>
</div>


